.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.label {
  margin-right: 12px;
}
