.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.field {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
  align-items: center;
}

.label {
  cursor: pointer;
}
