.filter {
  padding-top: 104px;
}

.filter input {
  outline: 2px solid transparent;
  transition: outline-color 0.2s;
}

.filter input:hover,
.filter input:focus {
  outline-color: #323c48;
  transition: outline-color 0.2s;
}

.fieldset {
  margin: 0 0 23px;
  padding: 0;
  border: none;
}

.fieldset h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  margin: 0;
  padding: 0 0 16px;

  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
