.filter {
  width: 256px;
  padding-top: 104px;
  padding-right: 48px;
}

.fieldset {
  margin: 0 0 23px;
  padding: 0;
  border: none;
}

.fieldset h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  margin: 0;
  padding: 0 0 16px;

  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
