.price {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.unit {
  font-weight: 400;
}

.small {
  font-size: 12px;
}
