.filter {
  width: 256px;
  padding-top: 104px;
  padding-right: 48px;
}

.filterApply {
  width: 100%;
  padding: 9px;

  font: inherit;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;

  background-color: hsl(213, 18%, 24%);
  border: none;
  cursor: pointer;
  user-select: none;
  transition: background-color var(--transition-time);
}

.filterApply:hover,
.filterApply:focus {
  background-color: hsl(213, var(--midnightblue-hover-saturation), 24%);
  transition: background-color var(--transition-time);
}

.filterApply:active {
  background-color: hsl(213, 18%, 24%);
}

.filterApply:disabled {
  background-color: hsl(213, 18%, var(--midnightblue-disabled-lightness));
}

.fieldset {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 23px;
  padding-left: 0;
  border: none;
}

.fieldset:last-child {
  padding-bottom: 0;
}

.filterTitle {
  margin-bottom: 16px;
  padding-right: 0;
  padding-left: 0;

  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.fieldContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fieldContainer .field {
  width: calc(50% - 8px);
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.fieldText {
  margin-right: 12px;
}
