.filter {
  width: 256px;
  padding-top: 104px;
  padding-right: 48px;
}

.filterApply:active {
  background-color: hsl(213, 18%, 24%);
}

.filterApply:disabled {
  background-color: hsl(213, 18%, var(--midnightblue-disabled-lightness));
}

.fieldset {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 23px;
  padding-left: 0;
  border: none;
}

.fieldset h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.fieldset:last-child {
  padding-bottom: 0;
}

.filterTitle {
  margin-bottom: 16px;
  padding-right: 0;
  padding-left: 0;

  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.fieldContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fieldContainer .field {
  width: calc(50% - 8px);
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.fieldText {
  margin-right: 12px;
}

.filtersReset {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  color: #323c48;

  background-color: white;
  border: 1px solid #323c48;

  cursor: pointer;
  user-select: none;
  outline: none;
}

.filtersReset:hover,
.filtersReset:focus {
  background-color: #323c48;
  color: white;
}

.filtersReset:active {
  opacity: 0.8;
}
