.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 56px;
  min-height: 668px;
  margin-top: 0;
  margin-bottom: 41px;
  padding-left: 0;
  list-style: none;
}

.star {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 13px;
  margin-right: 10px;
  background-image: url("./img/star-empty.svg");
  background-repeat: no-repeat;
}

.fill {
  background-image: url("./img/star-filled.svg");
}
