.star {
  width: 14px;
  height: 13px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.starEmpty {
  background-image: url("./star-empty.svg");
}

.starFill {
  background-image: url("./star-filled.svg");
}
